@{
    ViewData["Title"] = "Список футболистов";
}

<header>Список футболистов</header>
@* 
    хочется чтобы игроки выводились в обратном порядке т.е сначала те кого мы создали
 *@
@{
    var players = (List<Player>)ViewBag.Players;
    players.Reverse();
}

@foreach (Player player in players)
{
    
        
        <form asp-controller="ViewPlayers" asp-action="ChangePlayer" asp-route-id="@player.Id">
            <h1>@player.Name @player.Surname</h1>
            <p>Пол: @player.Gender</p>
            <p>Команда: @player.TeamName</p>
            <p>Дата рождения: @player.DateOfBirth</p>
            <p>Страна: @player.Country</p>

            <input type="submit" value="Изменить" />
        </form>

        
    
}
